<!DOCTYPE html>
<html>
    <head>
        <title>blksite-ac</title>
        <script src="https://aframe.io/releases/0.3.0/aframe.min.js"></script>
    </head>
    <body>
        <a-scene>
            <h1 style="text-align: center">creative minds.</h1>
            <a-box color="#1dcaff" width="2" height="2" depth="2" opacity="0.5"
                    position="0 4 -6">
            <a-animation attribute="rotation" dur="5000" repeat="indefinite" to="0 360 0"></a-animation>
            </a-box>
        </a-scene>
    </body>
</html>
